body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    margin: 0;
    align-items: center;
}
.header-logo {
    margin-left: 140px;
    font-size: 24px;
    color: #F9FAF8;
}
.header-links {
    margin-right: 140px;
}
a {
    text-decoration: none;
    color: #E5E7EB;
}
ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}
.body-part1 {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    padding: 70px 140px 95px;
}
.website-info {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 5px;
    padding: 0;
    margin: 0;
}
#website-title {
    color: #F9FAF8;
    font-weight: bolder;
    font-size: 48px;
    margin: 0;
}
#subtext {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}
.sign-up {
    -webkit-border-radius: 9;
    -moz-border-radius: 9;
    border-radius: 9px;
    border: none;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    background: #3882F6;
    padding: 10px 26px 10px 25px;
    max-width: fit-content;
    max-height: fit-content;
}
.image {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: grey;
    color: #E5E7EB;
}
.body-part2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.random-info {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding: 40px;
}
.illustrations {
    display: flex;
}
.blue-boxes {
    border: #3882F6;
    border-style: solid;
    border-radius: 10px;
    padding: 20px;
}
.illustration {
    display: flex;
    flex-direction: column;
}
.footer {
    display: flex;
    flex: none;
    flex-basis: 50px;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #E5E7EB;
}